<app-loader *ngIf="!seasons.length || showEpisodesLoader"></app-loader>
<div class="container">
  <div class="seasons">
    <div class="season" *ngFor="let season of seasons; let index = index" (click)="showEpisodes(index+1)">
      <p>Sezon {{index + 1}}</p>
      <p>Liczba odcinków: {{season.numberOfEpisodes}}</p>
    </div>
  </div>

  <div class="episodes" *ngIf="episodes.length">
    <div class="episode" *ngFor="let episode of episodes">
      <p (click)="showEpisodeCharacters(episode)">{{episode.name}}</p>
      <p>{{episode.air_date}}</p>
    </div>
  </div>

  <div *ngIf="characters.length" class="characters">
    <p>W odcinku "{{selectedEpisodeName}}" pojawili się</p>
    <div class="characters-table" >
      <div class="character" *ngFor="let character of characters">
        <img [src]="character.image" alt="">
        <p>{{character.name}}</p>
      </div>
    </div>
  </div>
</div>
